@media(max-width:768px){

    .hero{
        padding:70px 20px;
    }

    .dashboard-content{
        margin-left:0;
    }

    .sidebar{
        width:100%;
        height:auto;
        position:relative;
    }

    .stats-card{
        margin-bottom:20px;
    }
}